---
import Layout from '../layouts/Layout.astro';
import ElSobrinoDelMago from '../components/el-sobrino-del-mago.astro';
import LaBrujaElLeon from '../components/la-bruja-el-leon.astro';
import ElCaballoElMuchacho from '../components/el-caballo-el-muchacho.astro';
import ViajeroDelAlba from '../components/viajero-del-alba.astro';
import PrincipeCaspian from '../components/principe-caspian.astro';
import SillaDePlata from '../components/silla-de-plata.astro';
import UltimaBatalla from '../components/ultima-batalla.astro';
---

<Layout title="The Chronicles of Narnia">




	<main class=" snap-y snap-mandatory relative h-screen overflow-auto w-full">

		<div class=" snap-center">
			<ElSobrinoDelMago />
		</div>
		
		<div class=" snap-center">
			<LaBrujaElLeon />
		</div>
		
		<div class=" snap-center">
			<ElCaballoElMuchacho />
		</div>
		
		<div class=" snap-center">
			<PrincipeCaspian />
		</div>
		
		<div class=" snap-center">
			<ViajeroDelAlba />
		</div>
		
		<div class=" snap-center">
			<SillaDePlata />
		</div>
		
		<div class=" snap-center">
			<UltimaBatalla />
		</div>
		


	</main>
</Layout>

